.heroInput{
    width: 80%;
    padding: 15px 10px;
    outline: none;
    margin: 20px 0 7px 0;
    border: none;
    border-radius: 6px;
}

.links a{
    margin: 10px 18px 5px 0;
    color: whitesmoke !important;
}

.links a:hover{
    color: rgb(49, 47, 47) !important;
    text-decoration: none;
}

.heroContainer{
    color: whitesmoke;
    padding-bottom: 60px;
}

.ticketLink{
    color: whitesmoke;
    display: flex;
    justify-content: end;
}

.ticketLink:hover{
    color: rgb(49, 47, 47);
    text-decoration: none;
}

.rightBox>div>ol>li{
    line-height: 30px;
}

@media (min-width:992px) {
    .leftBox{
        padding: 0 35px !important;
    }
    .rightBox{
        padding: 0 120px 0 40px !important;
    }
}

@media (max-width:992px) {
    .rightBox{
        margin-top: 80px;
    }
}


.row>div>div>div>a{
    text-decoration: none;
    color: #387DE1;
}

.row>div>div>div>a:hover{
    color: rgb(59, 59, 59);
}

.row>div>div{
    margin: 40px 0;
    padding: 0 10px;
}

.row>div>div>div{
    margin:14px 0 ;
}

.setborderBtm{
    box-shadow: 0 10px 10px black;
    margin: 0;
    padding: 0;
}

